# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
*.log.*

# Test coverage
coverage/

# VS Code
.vscode/

# System Files
.DS_Store
Thumbs.db

# Optional: jest snapshot if used
__snapshots__/
